.catalog {
  min-height: 960px;
  padding: 64px 0 143px;

  color: $color-default-white;
  background-color: $color-default-black;

  @include vp-1023 {
    padding: 55px 0 77px;
  }

  @include vp-767 {
    padding: 47px  0 86px;
  }
}

.catalog h2 {
  margin: 0 0 55px;
  padding: 0;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-1023 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    width: 200px;
    margin-bottom: 29px;

    font-size: 28px;
    line-height: 39px;
  }
}

.catalog__list {
  display: grid;
  gap: 85px;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: stretch;
    align-items: stretch;
  }
}

.catalog__item {
  position: relative;
  height: 650px;

  @include vp-1023 {
    height: 250px;
  }
}

.catalog__link {

  margin: 0;
  padding: 0;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.catalog__img img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  @include vp-1023 {
    object-fit: none;
  }
}

.catalog__img {
  width: 100%;
  height: 100%;

  &--card1 img {
    object-position: -180px 0;
  }

  &--card2 img {
    object-position: -500px 0;
  }

  &--card3 img {
    object-position: -840px 0;
  }

  @include vp-1023 {
    &--card1 img {
      object-position: -300px -475px;
    }

    &--card2 img {
      object-position: -690px -270px;
    }

    &--card3 img {
      object-position: -180px -320px;
    }
  }

  @include vp-767 {
    &--card1 img {
      object-position: -410px -250px;
    }

    &--card2 img {
      object-position: -400px -475px;
    }

    &--card3 img {
      object-position: -950px -350px;
    }
  }
}

.catalog__item h3 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 50px 150px 50px 40px;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  background-color: $color-gray-medium;

  @include vp-1023 {
    padding: 40px 500px 40px 45px;
  }

  @include vp-767 {
    padding: 26px 120px 30px 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.catalog__arrow {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 60px;
  height: 60px;

  background-color: $color-default-blue;
  border-radius: 3px 0 0 0;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  &::after,
  &::before {
    content: "";
    z-index: 5;
    position: absolute;
    width: 5px;
    height: 1px;

    background-color: $color-default-white;

    @include vp-767 {
      width: 3px;
    }
  }

  &::after {
    top: 29px;
    left: 30px;

    transform: rotate(45deg);

    @include vp-767 {
      top: 17px;
      left: 20px;
    }
  }

  &::before {
    top: 32px;
    left: 30px;

    transform: rotate(-45deg);

    @include vp-767 {
      top: 20px;
      left: 20px;
    }
  }
}
