.feedback {
  position: relative;

  display: flex;
  padding-top: 165px;
  padding-bottom: 245px;

  background: linear-gradient(to left top, transparent 50%, $color-gray-medium 50%) left / 50% 100% no-repeat, $color-blue;

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 125px;

    background: $color-blue;
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 90px;
  }
}

.feedback__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__image {
  margin-top: 10px;

  z-index: 5;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form {
  width: 580px;
  margin-right: 10px;

  @include vp-1023 {
    width: 100%;
  }
}
