.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  min-height: 110px;

  font-size: 16px;
  line-height: 18px;

  background: $gradient-header;
  z-index: 10;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.header__intro {
  display: flex;
}

.header__nav {
  margin: 30px 5px 0 0;

  @include vp-1023 {
    margin: 20px -2px 0 0;
  }

  @include vp-767 {
    margin-top: 15px;
  }
}

.header__contacts {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 480px;
  margin: 35px 75px 0 85px;

  @include vp-1023 {
    justify-content: flex-end;
    width: auto;
    margin: 20px 30px 0 0;
  }

  @include vp-767 {
    margin: 10px 20px 0 0;
  }
}

.header__link {
  display: flex;
  margin: 10px 0;

  color: $color-light;
  cursor: pointer;

  @include vp-1023 {
    width: auto;
    margin-left: 40px;
  }

  @include vp-767 {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

.header__link span {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__call {
  margin: 35px 60px 0 25px;

  @include vp-1023 {
    display: none;
  }
}
