.modal {
  display: none;
}

.modal--show {
  position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-258px, -300px);

  top: 146px;
  left: 50%;
  transform: translateX(-258px);

  display: block;
  width: 500px;
  min-height: 610px;
  padding: 38px 40px;

  background-color: $color-default-blue;
  z-index: 20;
}

.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;

  display: block;
  width: 20px;
  height: 20px;

  background-color: inherit;
  z-index: 5;
  border: none;
  cursor: pointer;
}

.modal__close::after {
  content: "";
  position: absolute;
  top: 10;
  right: 0;

  width: 25px;
  height: 1px;

  background-color: $color-default-white;
  transform: rotate(-45deg);
}

.modal__close::before {
  content: "";
  position: absolute;
  top: 10;
  right: 0;

  width: 25px;
  height: 1px;

  background-color: $color-default-white;
  transform: rotate(45deg);
}
