.social__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
