$color-default-black:               #041827;
$color-default-white:               #ffffff;
$color-default-blue:                #00b2ff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-blue:                        #00b3ff;
$color-gray-shadow:                 #ebebeb;
$color-light:                       #f2f5f6;
$color-white:                       #f8fdff;
$color-white-opacity:               rgba(255, 255, 255, 0.7);
$color-gray-light:                  rgba(4, 20, 39, 0.15);
$color-gray-medium:                 rgba(4, 20, 39, 0.5);
$color-gray-dark:                   rgba(4, 20, 39, 1);
$color-black:                       #192024;

$gradient-header:                     linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$gradient-main:                       linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);

$ff-ptmono:                           "PT Mono", "Courier", monospace;
$ff-roboto:                           "Roboto Condensed", "Arial", sans-serif;

$vp-768:                            768px;
$vp-1024:                           1024px;

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
